# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# Project
ARCH
GITTAG
st_nexus_api-test-library
test_env.sh
tests/nxcomponents.json
tests/nxassets.json
tests/nxblobs.json
*~
generated-docs
